body{
	font-family: @title-font-family;
}

.typography {
	.h1 {
		font-size: 32px;
		font-family: @title-font-family;
		font-weight: normal;
	}
	.h2{
		font-weight: normal;
		font-size: 28px;
		font-family: @title-font-family;
	}
	.h3{
		font-weight: normal;
		font-size: 22px;
		font-family: @title-font-family;
	}
	.span{
		font-weight: bold;
		font-size: 16px;
		font-family: @title-font-family;
	}
	.p {
		font-size: 15px;
		font-family: @title-font-family;
		line-height: 22px;
	}
	.a {
		font-size: 15px;
		font-family: @title-font-family;
		color: #fc6e51;

		&:hover{
			text-decoration: none;
		}
	}
}


.header-underline:after{
	content: '';
	width: 100%;
	height: 1px;
	background-color: #ccc;
	display: block;	
	margin-top: 10px;
}